.locale{
    position: absolute;
    right: 5px;
    top: 20px;
    width: 120px;
    padding: 10px;
    margin: 10px;
}

.locale button{
    margin: 5px;
    width: 25px;
    high: 15px;
    background: transparent;
    border:none;
}

.UA_button{
    width : 30px;
    height : 25px;
}