ul {
    list-style-type: none;
}

.sideBar {
    list-style-type: none;
    margin: 0;
    width: 18%;
    background-color:white;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sideBar input {
    margin: 10px;
    padding: 5px;
    align-items: center;
    width: 85%;
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    font-weight: 100;
    border: 1px solid #048604;
    border-radius: 5px 5px 5px 5px;
}

.sideBar input:hover {
     background: #068f5c;
 }

.employee {
    text-align: center;
}

.dataBox {

    margin-left: 20%;
    margin-top: 5%;
    width: 80%;
    background-color: lightgray;
    position: fixed;
    height: 90%;
    overflow: auto;
}

.item {
    text-align: center;
}

.table_header {

    font-weight: bold;
}

.header_key{
    float: left;
    font-weight: bold;
    background-color: red;
}

.header_value{

}
