body {
    margin: 50;
}

ul {
    list-style-type: none;
}

.sideBar {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    width: 15%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sideBar input {
    margin: 10px;
    padding 10px;
    align: center;
    width: 140px;
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    font-weight: 100;
    border: 1px solid #a7a8a8;
    border-radius: 5px 5px 5px 5px;
}

.sideBar input:hover {
     background: #047e51;
 }

.dataBox {
    margin-left:25%;
    padding:1px 16px;
    height:700px;
}